.card-header .copy-invite {
    display: none;
    opacity: 0.5;
}
.card:hover .card-header .copy-invite {
    display: inline;

    &:hover {
        opacity: 1;
    }
    &:active {
        path {
            fill: $blue;
        }
    }
}
.card.announcement {
    text-align: left;
}
